<div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Editor de funcionário</h3>
    </div>
    <form role="form">
      <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="Digite...">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Sobrenome</label>
                <input type="text" class="form-control" placeholder="Digite...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Digite...">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Sexo</label>
                          <select class="form-control">
                            <option value="1">Masculino</option>
                            <option value="2">Feminino</option>
                          </select>
                        </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-group">
                          <label>Data de nascimento</label>
                          <input type="date" class="form-control" placeholder="Digite...">
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Habilidades</label>
                <select multiple="" class="form-control" style="height: 125px;">
                  <option *ngFor="let skill of skills" [value]="skill.skillId">{{skill.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-info float-right">Salvar</button>
        </div>
    </form>
  </div>